body {
  background-color: cadetblue;
}

#root {
  padding: 20px 20px;
}

.Name {
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
  font-size: 32px;
  margin-bottom: 14px;
}
.Description {
  text-align: center;
  font-family: monospace;
  display: none;
  width: 640px;
  margin: 0 auto 12px;
  font-size: 16px;
}
.Description.show {
  display: block;
}
.main-btn {
  margin: 10px auto 0;
  display: block;
}
.dog-img {
  display: block;
  width: 700px;
  /* aspect-ratio: 16/9;    //// another try of adjusting the height///
  object-fit: cover;
  object-position: center top; */
  margin: 0 auto;
}
